<div class="title-bar">
    <div class="title-bar-content">
        <span class="navlogo"><img src="img/logo_man_transparent.png" class="navlogo" alt="Give Up Games" title="Give Up Games" /></span>
        <span class="longer">GIVE UP GAMES</span>
    </div>
</div>
<div class="nav">
    <div class="navcontent">
        <span class="navlogo"></span>
        <span class="navtext gamebutton">Games</span>
        <span class="navtext"><a href="/Studio">Studio</a></span>
        <div class="clear"></div>
    </div>
    <div class="navgames">
        <span><a href="/AlphaChimp"><img src="img/chimp/box.jpg" /></a></span>
        <span><a href="/ElfWhoKilledChristmas"><img src="img/xmas/poster.png" /></a></span>
        <span><a href="/HomelessGuy"><img src="img/homeless/box.png" /></a></span>
    </div>
</div>
