
@{
    ViewBag.Title = "Give Up Games presents : The Elf Who Killed Christmas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS
{
    <style>
        .header {
            background-image: url("img/xmas/hero_01.png");
            background-size: 100% auto;
        }

        .production {
            background-image: url("img/xmas/production_blur.png");
        }

        .release {
            background-image: url("img/xmas/release_blur.png");
        }
    </style>
}
@section GameTitle
{
                <h1>The Elf Who Killed Christmas</h1>
}
@section PurchaseButtons
{

                <a href="https://play.google.com/store/apps/details?id=com.GiveUpGames.ElfWhoKilledXmas&hl=en" target="_blank"><img src="http://elfwhokilledchristmas.com/img/platform_gp.png" alt="Get on Google Play" title="Get on Google Play"></a>
                <a href="https://s3.amazonaws.com/GiveUpGamesPublic/elf+who+killed+christmas+mac+osx.zip"><img src="img/xmas/platform_mac.png" title="Get for Mac" alt="Get for Mac"></a>
                <a href="https://s3.amazonaws.com/GiveUpGamesPublic/elf+who+killed+christmas+win.zip"><img src="img/xmas/platform_win.png" title="Play on Windows 7+" alt="Play on Windows 7+"></a>
                <div class="clear"></div>
}
@section YouTubeVid
{
        <iframe id="ytplayer" src="https://www.youtube.com/embed/n1epwmWLbg8?rel=0&autoplay=0"></iframe>
}

@section Concept
{
            <div class="grid">
                <div class="row">
                    <span class="img-cell"><img src="img/xmas/concept/xmasgame001.jpg" class="imgleft" /></span>
                    <span class="text-cell">We worked with a freelance artist to design the look and feel of the game.This was the most pre-production we had done and it greatly improved the quality of the project.</span>
                    <span class="img-cell"><img src="img/xmas/concept/xmasgame002.jpg" class="imgleft" /></span>
                    <span class="text-cell">We knew that for a shooter game, we would need enough variance of enemies to keep from getting boring. We committed to supporting over 20 unique characters.</span>
                </div>
                <div class="row">
                    <span class="text-cell">The world this game takes place in has a class system for elves. We wanted to see worker elves, guard elves and prisoner elves ... to make it clear they weren't all on the same side.</span>
                    <span class="img-cell"><img src="img/xmas/concept/xmasgame003.jpg" class="imgright" /></span>
                    <span class="text-cell">It was important for the characters to have personality and that gave us more to work with in creating the final product.</span>
                    <span class="img-cell"><img src="img/xmas/concept/xmasgame006.jpg" class="imgright" /></span>
                </div>
            </div>
}

@section Production
{
            <div class="grid">
                <div class="row">
                    <span class="img-cell"><img src="img/xmas/production/2_0.png" /></span>
                    <span class="text-cell">One of the original ideas was to use toon-rendering to give the cartoony look. We opted instead for modern lighting with a fixed color palette, giving us room to make crazy special effects.</span>
                    <span class="img-cell"><img src="img/xmas/production/6_2.png" /></span>
                    <span class="text-cell"> After an initial release for Windows only in 2014, the game was fully ported to Unity3D and re-released Christmas 2015 on Windows, Mac OS X and Android.
</span>
                </div>
                <div class="row">
                    <span class="text-cell"> A custom pathfinding solution was built for the game. Lots of research and development was happening with the engine to create a richer experience.
</span>
                    <span class="img-cell"><img src="img/xmas/production/76799_479936906088_912382_n.jpg" /></span>
                    <span class="text-cell">Since the release of Alpha Chimp, the engine was greatly improved and allowed for complex lighting and scenes. We took advantage of that to create bigger levels.
</span>
                    <span class="img-cell"><img src="img/xmas/production/unityport.png" /></span>
                </div>
            </div>
}

@section Release
{
            <div class="box">
                <span><img src="img/xmas/poster.png" /></span>
            </div>
            <div class="galleryDisplay">
                <div>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-41-04-39.png"><img src="img/xmas/screens/xmas 2015-11-15 20-41-04-39.png" alt=""></a>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-41-42-41.png"><img src="img/xmas/screens/xmas 2015-11-15 20-41-42-41.png" alt=""></a>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-43-24-40.png"><img src="img/xmas/screens/xmas 2015-11-15 20-43-24-40.png" alt=""></a>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-43-54-38.png"><img src="img/xmas/screens/xmas 2015-11-15 20-43-54-38.png" alt=""></a>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-44-04-37.png"><img src="img/xmas/screens/xmas 2015-11-15 20-44-04-37.png" alt=""></a>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-45-26-38.png"><img src="img/xmas/screens/xmas 2015-11-15 20-45-26-38.png" alt=""></a>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-46-26-39.png"><img src="img/xmas/screens/xmas 2015-11-15 20-46-26-39.png" alt=""></a>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-48-26-40.png"><img src="img/xmas/screens/xmas 2015-11-15 20-48-26-40.png" alt=""></a>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-52-56-39.png"><img src="img/xmas/screens/xmas 2015-11-15 20-52-56-39.png" alt=""></a>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-53-52-39.png"><img src="img/xmas/screens/xmas 2015-11-15 20-53-52-39.png" alt=""></a>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-56-04-39.png"><img src="img/xmas/screens/xmas 2015-11-15 20-56-04-39.png" alt=""></a>
                    <a href="img/xmas/screens/xmas 2015-11-15 20-56-18-38.png"><img src="img/xmas/screens/xmas 2015-11-15 20-56-18-38.png" alt=""></a>
                </div>
            </div>
            <div class="clear"></div>
            <div class="get get-release">
                <a href="https://play.google.com/store/apps/details?id=com.GiveUpGames.ElfWhoKilledXmas&hl=en" target="_blank"><img src="http://elfwhokilledchristmas.com/img/platform_gp.png" alt="Get on Google Play" title="Get on Google Play"></a>
                <a href="https://s3.amazonaws.com/GiveUpGamesPublic/elf+who+killed+christmas+mac+osx.zip"><img src="img/xmas/platform_mac.png" title="Get for Mac" alt="Get for Mac"></a>
                <a href="https://s3.amazonaws.com/GiveUpGamesPublic/elf+who+killed+christmas+win.zip"><img src="img/xmas/platform_win.png" title="Play on Windows 7+" alt="Play on Windows 7+"></a>
                <div class="clear"></div>
            </div>
}