
@{
    ViewBag.Title = "Give Up Games presents : Homeless Guy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageCSS
{
    <style>
        .header     { background-image: url("img/homeless/screens/hg_05.png"); background-size: 100% auto; }
        .production { background-image: url("img/homeless/blur_1.jpg"); }
        .release    { background-image: url("img/homeless/blur_2.png"); }
    </style>
}
@section GameTitle
{
                <h1>Homeless Guy<span class="smaller-title">unreleased</span></h1>
}
@section PurchaseButtons
{
    <img src="/img/COMING_SOON.png" title="COMING SOON" alt="COMING SOON">
}
@section YouTubeVid
{
<iframe id="ytplayer" src="https://www.youtube.com/embed/SSXZgBViRqs?autoplay=0"></iframe>
}

@section Concept
{

<div class="grid">
    <div class="row">
        <span class="img-cell"><img src="/img/homeless/concept/Sketches.jpg" class="imgleft" /></span>
        <span class="text-cell">Working with the artist and a number of writers, we settled on a war vet as the single main character.</span>
        <span class="img-cell"><img src="/img/homeless/concept/Thug 2.jpg" class="imgleft" /></span>
        <span class="text-cell">We wanted our world to be filled with shady people. We tried a lot of different character designs to see what would fit in our world. </span>
    </div>
    <div class="row">
        <span class="text-cell">The game was originally going to have two main characters that the player could play as. The multiple characters would give us a chance to show different perspectives on being homeless.</span>
        <span class="img-cell"><img src="/img/homeless/concept/war-vet Front.jpg" class="imgright" /></span>
        <span class="img-cell"><img src="/img/homeless/concept/Thug 01.jpg" class="imgleft" /></span>
        <span class="img-cell"><img src="/img/homeless/concept/Hoodie Kid.jpg" class="imgright" /></span>
    </div>
</div>
}

@section Production
{
<div class="grid">
    <div class="row">
        <span class="img-cell"><img src="/img/homeless/production/3.jpg" /></span>
        <span class="text-cell">We used motion capture to create character animations because we knew the volume of animations needed for the game would be too much for keyframe animation by hand.</span>
        <span class="img-cell"><img src="/img/homeless/production/5.jpg" /></span>
        <span class="text-cell">The cartoon feel of the characters came through in the 3D models. Some of the model textures used the actual pencil drawings to give that rough-around-the-edges look. </span>
    </div>
    <div class="row">
        <span class="text-cell">As New York residents, we picked 4 areas of New York City that we felt we could humbly recreate for the game. Those areas were : Time Square, Grand Central Station, Washington Square Park and a nondescript train yard.
</span>
        <span class="img-cell"><img src="/img/homeless/production/7.jpg" /></span>
        <span class="text-cell">A custom solution was programmed to allow writers to easily implement stories in the game with zero programming. Key game mechanics were triggered by laying out a story structure in our custom tool.</span>
        <span class="img-cell"><img src="/img/homeless/production/8.jpg" /></span>
    </div>
</div>

}

@section Release
{
<div class="box"><span>(still in production)</span>
    <span><img src="img/homeless/box.png" /></span>
</div>
<div class="galleryDisplay">
    <div>
        <a href="/img/homeless/screens/1.jpg"><img src="/img/homeless/screens/thumb/1.jpg" /></a>
        <a href="/img/homeless/screens/2.jpg"><img src="/img/homeless/screens/thumb/2.jpg" /></a>
        <a href="/img/homeless/screens/4.jpg"><img src="/img/homeless/screens/thumb/4.jpg" /></a>
        <a href="/img/homeless/screens/6.jpg"><img src="/img/homeless/screens/thumb/6.jpg" /></a>
        <a href="/img/homeless/screens/hg_01.png"><img src="/img/homeless/screens/thumb/hg_01.png" /></a>
        <a href="/img/homeless/screens/hg_02.png"><img src="/img/homeless/screens/thumb/hg_02.png" /></a>
        <a href="/img/homeless/screens/hg_03.png"><img src="/img/homeless/screens/thumb/hg_03.png" /></a>
        <a href="/img/homeless/screens/hg_04.png"><img src="/img/homeless/screens/thumb/hg_04.png" /></a>
        <a href="/img/homeless/screens/hg_05.png"><img src="/img/homeless/screens/thumb/hg_05.png" /></a>
        <a href="/img/homeless/screens/hg_06.png"><img src="/img/homeless/screens/thumb/hg_06.png" /></a>
        <a href="/img/homeless/screens/hg_07.png"><img src="/img/homeless/screens/thumb/hg_07.png" /></a>
        <a href="/img/homeless/screens/hg_08.png"><img src="/img/homeless/screens/thumb/hg_08.png" /></a>
    </div>
</div>
<div class="clear"></div>
<div class="get get-release">
   
</div>

}