
@{
    ViewBag.Title = "Studio";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}
@section PageCSS
{
    <style>
        .header {background-image:none;}
    </style>
}
<h2>About</h2>
<p>
    <em>Give Up Games</em> is an independent video game studio founded 2009 in New York, NY. The studio works with various freelance artists and developers to produce small games.
    Lead developer and producer Michael Tsouris brings 15+ years of software development experience and lead 3D artist and animator George Tsouris brings over 8 years in modeling and animation.
    The studio released its first game in 2010 "Alpha Chimp Episode One" for Xbox 360 console. They followed up with "The Elf Who Killed Christmas" in 2013 while also working on a yet to be released title "Homeless Guy".
    The Elf Who Killed Christmas was re-released in Nov 2015 on Android, Mac OS X and Windows. The studio currently develops games using Unity3D and custom windows tools built in-house.
</p>
<p>
    Right now, the studio is not accepting applications. We appreciate the submissions we've received so far.
</p>
<h2>Contact:</h2>
<p>
    <a href="mailto:giveupgamesstudio@gmail.com">giveupgamesstudio@gmail.com</a>
</p>
<h2>Social Media</h2>
<ul>
    <li class="media">
        <a href="https://www.facebook.com/pages/Give-Up-Games/102382706520836" title="Like Us on Facebook" target="_blank">
            <img src="http://elfwhokilledchristmas.com/img/fb.png" alt="Like Us on Facebook" />
        </a>
    </li>
    <li class="media">
        <a href="https://twitter.com/giveupgames" title="Follow us on Twitter" target="_blank">
            <img src="http://elfwhokilledchristmas.com/img/tw.png" alt="Follow us on Twitter" />
        </a>
    </li>
    <li class="media">
        <a href="https://www.youtube.com/user/giveupgames/videos" title="Watch us on YouTube" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/YouTube_Shiny_Icon.svg/2000px-YouTube_Shiny_Icon.svg.png" alt="Check out our other videos" />
        </a>
    </li>
</ul>


@*FB:  https://www.facebook.com/Give-Up-Games-102382706520836/
TW:  https://twitter.com/GiveUpGames
YT:  https://www.youtube.com/user/giveupgames*@



